.progress-bar-container {
    min-width: 50%;
}

.modal-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 100;
    opacity: 0;

    background: rgba(var(--tblr-body-bg-rgb), 0.9);

    display: none;
    align-items: center;
    justify-content: center;

    transition: opacity 0.15s linear;

    &.visible {
        display: flex;
        opacity: 1;
    }

    .loader-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.modal-status ~ .modal-loader {
    top: 2px;
}

.breadcrumb {
    .breadcrumb-item {
        padding-left: 0;
        padding-right: var(--tblr-breadcrumb-item-padding-x);

        &::before {
            display: none !important;
        }

        &::after {
            float: right;
            padding-left: var(--tblr-breadcrumb-item-padding-x);
            color: var(--tblr-breadcrumb-divider-color);
            content: var(--tblr-breadcrumb-divider, "/");
        }
    }
}

.options-container {
    max-height: 450px;

    overflow-y: auto;

    padding: 0.5rem;

    border: 1px solid var(--tblr-border-color-translucent);
    border-radius: var(--tblr-border-radius);
    background: var(--tblr-body-bg);
}

.form-selectgroup-boxes {
    a.form-selectgroup-label {
        text-decoration: none;
    }
}
